{% extends 'base.html' %}

{% load static %} 

{% block title %}Home{% endblock %}

{% block content %}

<div class="d-flex flex-wrap justify-content-center mt-5 mb-5">
{% for i in data %}
  <div class="col-sm-4 mx-3 my-3">
     <div class="card">
          <div class="card-body">
                <h5 class="card-title">{{i.title}}</h5>
                <p class="card-text">{{i.content}}</p>
                <h6>Author : {{i.author.name}} </h6>
                <h6>Category : 
                    {% for j in i.category.all %}
                      <button class="btn btn-sm btn-primary m-2">{{j.name}}</button>
                    {% endfor %}
                </h6>
                <a href="{% url 'edit' i.id %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>

           </div>
        </div>
  </div>
{% endfor %}
</div>

{% endblock %}