{% extends 'base.html' %} 

{% load static %}

{% load humanize %}

{% block title %} Book Report{% endblock %} 

{% block content %}

<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
  <h1 class="font-bold text-3xl text-center pb-5 pt-2">Book Report</h1>
  <hr />

  <table class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500">
    <thead class="bg-purple-900 text-white text-left">
      <tr class="bg-gradient-to-tr from-indigo-600 to-purple-600 rounded-md py-2 px-4 text-white font-bold">
        <th class="px-4 py-2">Date</th>
        <th class="px-4 py-2">Type</th>
        <th class="px-4 py-2">Book Name</th>
        <th class="px-4 py-2">Category</th>
        <th class="px-4 py-2">Review</th>
        <th class="px-4 py-2">Return</th>
      </tr>
    </thead>
    <tbody>
      {% for i in borrowed_books %}
      <tr class="border-b dark:border-neutral-500">
        <td class="px-4 py-2">
          {{ i.borrow_date|date:"F d, Y h:i A" }}
        </td>
        <td class="px-4 py-3 text-s border">
          <span class="px-2 py-1 font-bold leading-tight rounded-sm {% if i.returned %} text-red-700 bg-red-100 {% else %} text-green-700 bg-green-100 {% endif %}">
            {% if i.returned %}
              Returned
            {% else %}
              Borrowed
            {% endif %}
          </span>
        </td>
        <td class="px-4 py-2">
            {{ i.title }}
        </td>
        <td class="px-4 py-2">
            {{ i.category.name }}
        </td>
        <td class="px-4 py-2">
          <form method="POST" action="{% url 'review' i.id %}">
            {% csrf_token %}
            <label>Review:</label>
            <textarea name="review" id="review" class="form-control mb-3" placeholder="Write your review here"></textarea>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </td>
      <td class="px-4 py-2">
        {% if i.returned %}
        <form method="POST" action="{% url 'buy_now' i.id %}">
          {% csrf_token %}
          <button class="btn btn-warning" type="submit">Borrow Now</button>
        </form>
        {% else %}
        <a href="{% url 'return_book' i.id%}" class="btn btn-primary">Return Book</a>
        {%endif%}
    </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
