{% extends 'base.html' %}

{% load static%}

{% block title %}Profile{% endblock %}

{% block content %}

{% if borrow_books %}
    <h2></h2>
     <h1 class="text-center mt-5 mb-5 p-2" style="background-color:#0099ff;color:white;">Borrowed Books</h1>
    <ul>
      <div class="d-flex flex-wrap justify-content-center mb-5">
        {% for i in borrow_books %}
        <div class="col-sm-3 mx-3">
          <div class="card" style="width: 18rem;height:80%">
            <img src="{{i.image.url}}" class="card-img-top" alt="..." style="height:60%" >
            <div class="card-body">
              <h5 class="card-title font-bold fs-4">{{i.title}}</h5>
              <p class="card-text">Category : {{i.category.name}}</p>
              <br>
              {% comment %} <form method="POST" action="{% url 'return_book' i.id %}">
                {% csrf_token %}
                <button class="btn btn-warning" type="submit">Return</button>
              </form> {% endcomment %}
              <a href="{% url 'return_book' i.id%}" class="btn btn-primary">Return</a>
           </div>
         </div>
       </div>
        {% endfor %}
    </ul>
{% else %}
    {% comment %} <h1 class="text-center mt-5 mb-5 p-2" style="background-color:#0099ff;color:white;">You haven't borrowed any Book Yet.</h1> {% endcomment %}
{% endif %}

{% endblock %}

